<h1>Welcome to Robot World!</h1>
<h2>Your one-stop shop for all robots!</h2>

<button><a href="/robots/new">Add New Robot</a></button>

<h4>Average Robot Age:</h4>

<h4>Hired Robots per Year:</h4>

<h4>Number of Robots by State:</h4>

<h4>Number of Robots by City:</h4>

<h4>Number of Robots by Department:</h4>
