<div class="container text-center">

<div class="jumbotron">
  <h1>Welcome to the Robot World Directory!</h1>
  <a href="/robots" class="btn btn-primary btn-lg">View Robots</a>
</div>

<h4>Average Robot Age:</h4>

<h4>Hired Robots per Year:</h4>

<h4>Number of Robots by State:</h4>

<h4>Number of Robots by City:</h4>

<h4>Number of Robots by Department:</h4>
</div>
