<form action="/robots" method="post">
  <p>Add a Robot to the directory:</p>
  <input type='text' name='robot[name]' placeholder="Name"/><br />
  <input type='text' name='robot[city]' placeholder="City (Ex. Denver)"/><br />
  <input type='text' name='robot[state]' placeholder="State (Ex. CO)" /><br />
  <input type='url' name='robot[avatar]' placeholder="Avatar URL (http://...)" /><br />
  <p>Birthdate:</p>
  <input type='date' name='robot[birthdate]' /><br />
  <input type='text' name='robot[department]' placeholder="Department" /><br />
  <p>Date Hired:</p>
  <input type='date' name='robot[date_hired]' /><br />
  <input type="submit" />
</form>
